.navbar {
  background: linear-gradient(60deg, #203d00, #8b4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    color: white !important;
}

.navbar .dropdown-menu {
    background-color: #275600;
}

.navbar .dropdown-menu .dropdown-item {
    color: white !important;
    background-color: #275600;
}

.navbar .dropdown-item:hover {
    background-color: #7a3;
}

.btn-hover:hover {
    background-color: #117A8B !important;
}

.btn-hover {
    background-color: #17A2B8 !important;
}

.phenotype_traits:hover{
    background: #8b4 !important;
    color: white;
}

.phenotype_traits, .phenotype_traits:active {
    background: #76a835 !important; ;
    color: white;
}

.categoric_info:hover{
background-color: rgb(144, 190, 82);
color: white;
}

.categoric_info, .categoric_info:active {
background-color: #7a3 ;
color: white;
}


.collapse_section {
    user-select:none;
}
